

.footer-distributed{
  background: rgb(6, 6, 10);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 35%;
}

/* The company logo */

.footer-logo{
    width: 70%;
    height: 35vh;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  rgba(0, 255, 255, 0.5);
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:600;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-links a:hover{
  color: cyan;
  font-weight: 800;
}

.footer-distributed .footer-company-name{
  color:  white;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
  margin-top: 2rem;
}

.footer-distributed .footer-center i{
  /* background-color:  #33383b; */
  color: rgba(0, 255, 255, 0.5);
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 23px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: rgba(0, 255, 255, 0.5);
  font-weight:600;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: 600;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  lightseagreen;
  text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: rgba(0, 255, 255, 0.5);
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
  margin-top: 1rem;
}

.footer-distributed .footer-company-about{
  color:  rgba(0, 255, 255, 0.5);
  font-size: 17px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  cyan;
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
  
}

.fa-brands{
  font-size: 33px;
  color: rgba(0, 255, 255, 0.5);
  margin: 10px;
}

.fa-brands:hover{
  color: cyan;
}

/* Responsive Code Start */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}

@media only screen and (max-width:438){
  .footer-distributed .footer-center p{
    font-size: 18px;
  }
};

